---
layout: wire
title: Blog
blog: true
---
    {% for post in site.posts %}
        {% assign content = post.content %}
            <article>
                {% if post.link %}
                    <header><h1>Link: <a href="{{ post.link }}">{{ post.title }}</a></h1></header>
                    <div class="infotoppost">
                        <a style="color:gray" href="{{ site.domain }}{{ post.url }}">{{ post.date | date_to_long_string }}</a>
                        {% if post.author %}
                            by {{ post.author }}
                        {% endif %}
                        {% if post.categories != empty %}
                            in {{ post.categories | category_links }}
                        {% endif %}
                    </div>

                    {{ content }}

                    <div class="infobotpost">
                        &nbsp;
                    </div>
                {% else %}
                    <header><a href="{{ site.domain }}{{ post.url }}"><h1>{{ post.title }}</h1></a></header>
                    <div class="infotoppost">
                        {{ post.date | date_to_long_string }}
                        {% if post.author %}
                            by {{ post.author }}
                        {% endif %}
                        {% if post.categories != empty %}
                            in {{ post.categories | category_links }}
                        {% endif %}
                    </div>

                    {{ content }}

                    <div class="infobotpost">
                        <a class="FlattrButton" style="display:none;"
                            title="{{ post.title }}"
                            data-flattr-tags="text"
                            data-flattr-category="text"
                            data-flattr-description=""
                            href="{{ site.domain }}{{ post.url }}">
                        </a>
                        {% case post.comment_count %}
                        {% when 0 %}
                        {% when 1 %}
                            &nbsp;| 1 Comment
                        {% else %}
                            &nbsp;| {{post.comment_count}} Comments
                        {% endcase %}
                    </div>
                {% endif %}
            </article>
            {% unless forloop.last %}
            <hr style="border: 0;height: 0;border-top: 1px solid rgba(0, 0, 0, 0.1);border-bottom: 1px solid rgba(255, 255, 255, 0.3);"/>
            {% endunless %}
            <br /><br />
    {% endfor %}
