---
layout: wire
title: Blog
---
    {% for post in site.posts %}
        {% assign content = post.content %}
            <article>
                <header><a href="{{ site.domain }}{{ post.url }}">{{ post.title }}</a></header>
                <div class="infotoppost">
                    {{ post.date | date_to_long_string }}
                    {% if post.author %}
                        by {{ post.author }}
                    {% endif %}
                    {% if post.categories != empty %}
                        in {{ post.categories | array_to_sentence_string }}
                    {% endif %}
                </div>

                {{ content }}

                <div class="infobotpost">
                    <hr class="style-two"/>
                    {% if post.categories != empty %}Categories: {{ post.categories | array_to_sentence_string}}&nbsp;|&nbsp;{% endif %}{% if post.tags != empty %}Tags: {{ post.tags | array_to_sentence_string }}&nbsp;|&nbsp;{% endif %}Words: {{ content | number_of_words }}
                </div>
            </article>
    {% endfor %}
