        <aside>
        {% if page.nav == false %}
            <div class="atop logo">
                &#622;
            </div>

            <div class="grassbig">
            </div>
        {% else %}
            <div class="atop">
                <nav class="ntop">
                    {% include nav.html %}
                </nav>

                {% if page.blog == true %}
                    <div class="categories">
                    Categories:
                    <ul>
                        {% for category in site.categories %}
                            <li><a href="/{{ site.category_dir }}/{{ category | first}}">{{ category | first }}</a></li>
                        {% endfor %}
                    </ul>
                    </div>
                {% endif %}
            </div>

            <div class="grasssmall">
            </div>
        {% endif %}
        </aside>
