        <aside>
        {% if page.nav == false %}
            <div class="atop logo imprint">
                &#622;
            </div>

            <div class="grassbig">
            </div>
        {% else %}
            <div class="atop">
                <nav class="ntop">
                    {% include nav.html %}
                </nav>

                {% if page.blog == true %}
                <div class="categories">
                Categories:
                <ul>
                    {% capture get_items %}
                        {% for cat in site.categories %}
                            {{ cat | first }}
                        {% endfor %}
                    {% endcapture %}
                    {% capture num_words %}{{ get_items | split:' ' | sort | join:' ' | number_of_words }}{% endcapture %}
                    {% for item in (1..num_words) %}
                        {% capture this_word %}{{ get_items | split:' ' | sort | join:' ' | truncatewords:item | remove:'...' | split:' ' | last }}{% endcapture %}
                        <li><a href="/{{ site.category_dir }}{{ this_word }}">{{ this_word }}</a></li>
                    {% endfor %}
                </ul>
                </div>

                <div class="subscribe">
                Subscribe:
                <ul>
                    <li><a href="http://lc3dyr.de/feed.xml">RSS-Feed</a></li>
                </ul>
                </div>
                {% endif %}
                <br />
                {% comment %} <input type="search" name="search"> {% endcomment %}
            </div>

            <div class="grasssmall">
            </div>
        {% endif %}
        </aside>
