    <head>
        <meta charset="utf-8" />
        {% if site.refresh > 0%}
        <meta http-equiv="refresh" content="{{ site.refresh }}" />
        {% endif %}
        <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.name }}</title>

        <link href="/assets/css/font.css" type="text/css" rel="stylesheet" /> 
        <link href="/assets/css/layout.css" type="text/css" rel="stylesheet" />
        <link href="/assets/css/styles.css" type="text/css" rel="stylesheet" />
        <link href="/assets/css/syntax.css" type="text/css" rel="stylesheet" />
        <link href="/favicon.png" rel="icon" />
        <link href="/feed.xml" type="application/rss+xml" rel="alternate" title="RSS Feed" />
        <link href="/feed.links.xml" type="application/rss+xml" rel="alternate" title="RSS Feed (links only)" />

        <!-- Flattr Support -->
        <script type="text/javascript">
          (function() {
            var s = document.createElement('script'), t = document.getElementsByTagName('script')[0];
            s.type = 'text/javascript';
            s.async = true;
            s.src = 'http://api.flattr.com/js/0.6/load.js?mode=auto&button=compact&uid=laerador&category=text&popout=0';
            t.parentNode.insertBefore(s, t);
          })();
        </script>

    </head>
