/*
 * Stylesheet for lc3dyr.de
 * 
 * Author: laerador
 * Email:  laerador@lc3dyr.de
 * 
 */

/* Font & Text */
body {
    background-color: #343636;

    font-family: Lucida Console, Monaco, Courier New, monospace;
    font-size: 11pt;
    color: silver;
    font-style: normal;
    font-weight: normal;
    text-align: left;
}

.logo {
    text-align: center;
    font-size: 128pt;
    font-family: Verdana, Tahoma, sans-serif;
    color: #343636;
}
.imprint {
    text-shadow: 0 -1px 1px black, 0 1px 1px gray;
}

.xkcd {
    text-align: left;
    text-transform: uppercase;
    border: none;
    font-family: Courier New, monospace;
}
.xkcd a {
    text-decoration: none;
    color: silver;
}
.xkcd a:hover {
    text-decoration: none;
    color: silver;
}

.infotoppost {
    color: gray;
    font-size: 10pt;
    margin-top: -25px;
    margin-bottom: 25px;
}

.infobotpost {
    color: gray;
    font-size: 10pt;
    padding-top:0.5em;
    padding-bottom:50px;
    vertical-align: top;
}
.FlattrButton {
    vertical-align: bottom;
}

.front {
    font-size:62pt;
}
.ntop {
    font-size:24pt;
}

header h1 {
    font-family: Courier, monospace;
    font-size:        58px;
    line-height:      0.8em;
    color:            #00DFFC;
    text-align:       left;
    word-spacing:     -0.3em;
    letter-spacing:   -3px;
    margin-bottom:    35px;
    margin-top: 0px;
}
header a {
    color:            #00DFFC;
    text-decoration:  none;
}
header a:hover {
    color:            #00DFFC;
    text-decoration:  none;
}

/* Heading Style */
h1 {
    font-weight:             normal;
    color:                   #00B4CC;
    font-size:               26pt;
    font-family:             'Courier', monospace;
    margin-bottom:           0.5em;
    margin-top:              1em;
}
h2 {
    font-weight:             normal;
    color:                   #008C9E;
    font-size:               22pt;
    font-family:             'Courier', monospace;
    margin-bottom:           0.2em;
    margin-top:              1em;
}
h3 {
    font-weight:             normal;
    color:                   #008C9E;
    font-size:               16pt;
    font-family:             'Courier', monospace;
    margin-top:              1em;
    margin-bottom:           0;
}

/* Paragraph Style */
p {
    font-family: Lucida Console, Monaco, Courier New, monospace;
    font-style: normal;
    text-align:              left;
    margin-bottom:           1.0em;
    margin-top:              1.0em;
}

/* HR-Line Style */
.style-two {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
}

/* Color */
.liohu4 {
    color:                   #005F68;
}
.deeper {
    color:                   #008C9E;
}
.deeper a {
    color:                   #008C9E;
    text-decoration:         none;
}
.deeper a:hover {
    color:                   #008C9E;
    text-decoration:         none;
}

.shedressedme {
    color:                   #00B4CC;
}
.shedressedme a {
    color:                   #00B4CC;
    text-decoration:         none;
}
.shedressedme a:hover {
    color:                   #00B4CC;
    text-decoration:         none;
}

.aquaburst {
    color:                   #00DFFC;
}
.aquaburst a {
    color:                   #00DFFC;
    text-decoration:         none;
}
.aquaburst a:hover {
    color:                   #00DFFC;
    text-decoration:         none;
}

/* link style */
a {
    color: #008C9E;
    text-decoration: none;
}
a:hover {
    color: #00B4CC;
    text-decoration: none;
}

/* comment style */
.comment {
    font-size: 10pt;
}
.comment .comment_header {
    text-indent: 0;
    color: gray;
    font-size: 12pt;
}
input, textarea {
    background-color: silver;
    border: 1px solid gray;
    padding:2px;
} 
label {
    font-size:10pt;
    color: gray;
    padding-left: 15px;
}

/* blockquote */
blockquote {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    border-left: 3px solid gray;
    padding-left: 10px;
}
blockquote p {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: 200;
    text-align: justify;
}

img {
    display: block;
    margin: 10px auto;
    max-width: 100%;
    border: 1px solid black;
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,.2), inset 0 4px 5px rgba(0,0,0,.6), inset 0 1px 2px rgba(0,0,0,.6);
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,.2), inset 0 4px 5px rgba(0,0,0,.6), inset 0 1px 2px rgba(0,0,0,.6);
	box-shadow: 0 1px 0 rgba(255,255,255,.2), inset 0 4px 5px rgba(0,0,0,.6), inset 0 1px 2px rgba(0,0,0,.6);

	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}

.cutoutlogo {
    width:100px;
    height:100px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100px 100px;
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,.2), inset 0 4px 5px rgba(0,0,0,.6), inset 0 1px 2px rgba(0,0,0,.6);
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,.2), inset 0 4px 5px rgba(0,0,0,.6), inset 0 1px 2px rgba(0,0,0,.6);
	box-shadow: 0 1px 0 rgba(255,255,255,.2), inset 0 4px 5px rgba(0,0,0,.6), inset 0 1px 2px rgba(0,0,0,.6);

	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}
.cutoutlogo:hover {
    -webkit-box-shadow: 0px 0px 30px rgba(0, 180, 204, 1);
    -moz-box-shadow:    0px 0px 30px rgba(0, 180, 204, 1);
    box-shadow:         0px 0px 30px rgba(0, 180, 204, 1);
}
footer a {
    color: #222;
}
