/* Style CSS
 * 
 * CSS Stylesheed for lc3dyr.de
 *      General
 */

/* Font */
@font-face 
{                            
    font-family: 'LeagueGothicRegular';
    src: url('../font/league-gothic/League_Gothic-webfont.eot');
    src: url('../font/league-gothic/League_Gothic-webfont.eot?#iefix') format('embedded-opentype'),
        url('../font/league-gothic/League_Gothic-webfont.woff') format('woff'),
        url('../font/league-gothic/League_Gothic-webfont.ttf') format('truetype'),
        url('../font/league-gothic/League_Gothic-webfont.svg#LeagueGothicRegular') format('svg');
    font-weight:  normal;
    font-style:   normal;
}   
@font-face 
{                            
    font-family: 'Fanwood Roman';
    src: url('../font/fanwood/fanwood_text-webfont.eot');
    src: url('../font/fanwood/fanwood_text-webfont.eot?#iefix') format('embedded-opentype'),
        url('../font/fanwood/fanwood_text-webfont.woff') format('woff'),
        url('../font/fanwood/fanwood_text-webfont.ttf') format('truetype'),
        url('../font/fanwood/fanwood_text-webfont.svg') format('svg');
    font-weight:  normal;
    font-style:   normal;
}   
@font-face 
{                            
    font-family: 'Fanwood Roman';
    src: url('../font/fanwood/fanwood_text_italic-webfont.eot');
    src: url('../font/fanwood/fanwood_text_italic-webfont.eot?#iefix') format('embedded-opentype'),
        url('../font/fanwood/fanwood_text_italic-webfont.woff') format('woff'),
        url('../font/fanwood/fanwood_text_italic-webfont.ttf') format('truetype'),
        url('../font/fanwood/fanwood_text_italic-webfont.svg') format('svg');
    font-weight:  normal;
    font-style:   italic, oblique;
}   
@font-face 
{                            
    font-family: 'Fanwood';
    src: url('../font/fanwood/fanwood-webfont.eot');
    src: url('../font/fanwood/fanwood-webfont.eot?#iefix') format('embedded-opentype'),
        url('../font/fanwood/fanwood-webfont.woff') format('woff'),
        url('../font/fanwood/fanwood-webfont.ttf') format('truetype'),
        url('../font/fanwood/fanwood-webfont.svgr') format('svg');
    font-weight:  normal;
    font-style:   normal;
}   
@font-face 
{                            
    font-family: 'Fanwood';
    src: url('../font/fanwood/fanwood_italic-webfont.eot');
    src: url('../font/fanwood/fanwood_italic-webfont.eot?#iefix') format('embedded-opentype'),
        url('../font/fanwood/fanwood_italic-webfont.woff') format('woff'),
        url('../font/fanwood/fanwood_italic-webfont.ttf') format('truetype'),
        url('../font/fanwood/fanwood_italic-webfont.svg') format('svg');
    font-weight:  normal;
    font-style:   italic, oblique;
}   
@font-face 
{                            
    font-family: 'SortsMillGoudy';
    src: url('../font/sorts-mill-goudy/GoudyStM-webfont.eot');
    src: url('../font/sorts-mill-goudy/GoudyStM-webfont.eot?#iefix') format('embedded-opentype'),
        url('../font/sorts-mill-goudy/GoudyStM-webfont.woff') format('woff'),
        url('../font/sorts-mill-goudy/GoudyStM-webfont.ttf') format('truetype'),
        url('../font/sorts-mill-goudy/GoudyStM-webfont.svg') format('svg');
    font-weight:  normal;
    font-style:   normal;
}   
@font-face 
{                            
    font-family: 'SortsMillGoudy';
    src: url('../font/sorts-mill-goudy/GoudyStM-Italic-webfont.eot');
    src: url('../font/sorts-mill-goudy/GoudyStM-Italic-webfont.eot?#iefix') format('embedded-opentype'),
        url('../font/sorts-mill-goudy/GoudyStM-Italic-webfont.woff') format('woff'),
        url('../font/sorts-mill-goudy/GoudyStM-Italic-webfont.ttf') format('truetype'),
        url('../font/sorts-mill-goudy/GoudyStM-Italic-webfont.svg') format('svg');
    font-weight:  normal;
    font-style:   italic, oblique;
}   
@font-face 
{                            
    font-family: 'Chunk';
    src: url('../font/chunk/Chunkfive-webfont.eot');
    src: url('../font/chunk/Chunkfive-webfont.eot?#iefix') format('embedded-opentype'),
        url('../font/chunk/Chunkfive-webfont.woff') format('woff'),
        url('../font/chunk/Chunkfive-webfont.ttf') format('truetype'),
        url('../font/chunk/Chunkfive-webfont.svg') format('svg');
    font-weight:  normal;
    font-style:   normal;
}   
